name: CI
on:
  push:
    branches:
      - master
    paths-ignore:
      - "**/*.md"
      - "**/*.mdc"
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "**/*.mdc"

permissions:
  contents: read
  packages: write

jobs:
  ci:
    strategy:
      matrix:
        python-version: ["3.12"]
        uv-version: ["latest"]
        # Only run CI on Linux. Windows and macOS cost 2x and 10x more respectively.
        os: [ubuntu-latest]
        # os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: .
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.2.0
      - name: Free Disk Space on GitHub Actions runner
        # Runners come with many preinstalled tools that we don't need for our build.
        # This action removes them to free up disk space for the following steps, such as the heavy devcontainer build.
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true
      - name: Create .env file
        # Define in GitHub repository: Settings -> Secrets and variables -> Actions -> New repository secret
        run: |
          echo LOGFIRE_TOKEN=${{ secrets.LOGFIRE_TOKEN }} >> .env
          echo CODECOV_TOKEN=${{ secrets.CODECOV_TOKEN }} >> .env
      - name: Install uv package manager
        uses: astral-sh/setup-uv@v5.2.2
        with:
          version: ${{ matrix.uv-version }}
          enable-cache: true
      - name: Check uv version
        run: uv --version
      - name: Install dependencies
        run: uv sync
      - name: Check installed dependencies
        run: |
          uv run python --version
          uv tree
      - name: Build the package
        run: uv build
      - name: Lint the package
        run: uv run ruff check .
      - name: Type check the package
        run: uv run pyright .
      - name: Run unit tests
        # -v                verbose
        # -p no:warnings    ignore warnings
        # -n auto           run tests in parallel
        run: uv run pytest -v -p no:warnings -n auto --cov=assays --cov-report=xml
      - name: Upload logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: assays-pytest-logs
          path: assays.log
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and run dev container task
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/lars20070/assays-devcontainer
          cacheFrom: ghcr.io/lars20070/assays-devcontainer
          imageTag: latest,${{ github.sha }}
          push: filter
          refFilterForPush: refs/heads/master
          runCmd: |
            bash -c '
              set -o errexit -o pipefail -o nounset
              uv --version
              uv run python --version
              echo "Dev container built and run successfully"
            '
